<header>
    <ul class="pc-version">
        <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Тестування мережі</a></li>
        <li><a routerLink="/statistic" routerLinkActive="active">Статистика</a></li>
        <li><a routerLink="/mapOZ" routerLinkActive="active">Карта оптичних зєднаннь</a></li>
    </ul>
    <div class="mobile-version">
            <h2><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="fa-solid fa-gauge-high"></i></a></h2>
            <h2><a routerLink="/statistic" routerLinkActive="active"><i class="fa-solid fa-chart-simple"></i></a></h2>
            <h2><a routerLink="/mapOZ" routerLinkActive="active"><i class="fa-solid fa-location-pin-lock"></i></a></h2>
    </div>    
</header>